.git
.gitignore
.dockerignore
**/node_modules
build/
dist/
**/charts
**/.next
**/.api
**/lib
**/build
**/dist
*Dockerfile*
yarn-error.log
**/*.md

# **/*.sh

.env
*.env
!default.env

config/*
!config/default.json
!config/local.json
tsconfig.tsbuildinfo

*.db
*.cpuprofile
*.heapsnapshot
